/****** SMARTPHONE ******/ /****** SMARTPHONE ******/ /****** SMARTPHONE ******/
.collapse{
    width: calc(100% - 40px);
    height: 30px;
    overflow: hidden;
    transition: all 1s ease;
    .barre{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #FF6060;
        box-sizing: border-box;
        height: 30px;
        padding: 0 12px;
        border-radius: 5px;
        h2{
            display: inline;
            font-weight: 500;
            font-size: 13px;
            color: #fff;
        }
        button{
            height: 15px;
            font-size: 17px;
            border: none;
            background-color: transparent;
            color: #fff;
        }     
    }
    p{
        border-radius: 5px;
        padding: 20px;
        font-weight: 400;
        font-size: 12px;
        color: #FF6060;
        background-color: #F6F6F6;
        transition: height 2s ease;
    }

    /****** DESKTOP ******//****** DESKTOP ******//****** DESKTOP ******/
    
    @media(min-width:769px){
        width: calc(100% - 417px);
        height: 52px;
        .barre{
            height: 52px;
            padding: 0 16px;
            h2{
                font-size: 24px;
            }
            button{
                font-size: 24px;
                height: 24px;
            }
        }
    }
}
.collapse:hover {
    height: 100px;
}
