/****** SMARTPHONE ******/ /****** SMARTPHONE ******/ /****** SMARTPHONE ******/
footer{
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 15px;
    width: 100%;
    padding: 66px 0 58px;
    background-color: black;
    & img{
        height: 40px;
    }
    & p{
        width: 134px;
        font-size: 12px;
        text-align: center;
        color: #fff;
    }

    /****** DESKTOP ******//****** DESKTOP ******//****** DESKTOP ******/
    
    @media(min-width: 769px){
    padding: 66px 0 32px;
    gap: 42px;
        & p{
            width: 513px;
            font-size: 24px;
        }
    }
}