.accomodation{
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 27px 20px;
    h1, .location{
        color: #ff6060;
        width: 100%;
        text-align: left;
    }
    h1{
        font-size: 18px;
        font-weight: 500;
        margin-top: 14px;
    }
    .location{
        font-size: 15px;
        margin: 16px 0 13px;
    }
    .tags-array{
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        gap: 10px;
        width: 100%;
        .tag{
            height: 18px;
            min-width: 84px;
            padding: 3px 10px 1px;
            border-radius: 10px;
            font-size: 10px;
            box-sizing: border-box;
            text-align: center;
            color: #fff;
            background-color: #ff6060;
        }
    }
    .seller-info{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin: 16px 0 13px;
        .seller-picture {
            display: flex;
            align-items: center;
            gap:10px;
            .names{
                display: flex;
                flex-flow: column;
                align-items: flex-end;
                color: #ff6060;
                font-size: 13px;
            }
            img{
                height: 33px;
                border-radius: 50%;  
            }
        }
    }
    .collapse-container{
        display: flex;
        flex-flow: column;
        gap: 20px;
    }

    /****** DESKTOP ******//****** DESKTOP ******//****** DESKTOP ******/

    @media (min-width:1024px){
        align-items: flex-start;
        padding: 50px 100px;
        .info-container{
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin-top: 24px;
            .accomodation-info{
                h1{
                    font-size: 36px;
                    margin-top: 17px;
                }
                .location{
                    font-size: 19px;
                    margin: 0;
                }
                .tags-array{
                    width: auto;
                    margin: 24px 0;
                    .tag{
                        height: 25px;
                        min-width: 115px;
                        padding: 5px 10px 0;
                    }
                }
            }
        }
        .seller-info{
            align-self: flex-start;
            flex-flow: column-reverse;
            gap: 27px;
            align-items: flex-end;
            width: auto;
            margin: 0;
            .seller-picture{
                .names{
                    font-size: 18px;
                }
                img{
                    height: 64px; 
                }
            }
        }
        .collapse-container{
            flex-flow: row;
            gap:76px;
        }  
    }

    /****** TABLETTE ******//****** TABLETTE ******//****** TABLETTE ******/

    @media(min-width:768px ) and (max-width:1023px){
        padding: 35px 60px;
        .info-container{
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin-top: 24px;
            .accomodation-info{
                h1{
                    font-size: 28px;
                    margin-top: 17px;
                }
                .location{
                    font-size: 19px;
                    margin: 0;
                }
                .tags-array{
                    width: auto;
                    margin: 24px 0;
                    .tag{
                        height: 20px;
                        min-width: 100px;
                        padding: 5px 10px 0;
                        border-radius: 10px;
                    }
                }
            }
        }
        .seller-info{
            align-self: flex-start;
            flex-flow: column-reverse;
            gap: 27px;
            align-items: flex-end;
            width: auto;
            margin: 0;
            .seller-picture{
                img{
                    height: 64px; 
                }
            }
        }
        .collapse-container{
            flex-flow: row;
            gap:45px;
        }  
    }
}