.star-array{
    display: flex;
    gap: 7px;
    padding-left: 2px;
    & .full-star {
        color: #ff6060;
        
    }
    & .empty-star{
        color: #e3e3e3;
    }
    & .full-star, .empty-star{
        font-size: 13px;
    }

    /****** DESKTOP ******//****** DESKTOP ******//****** DESKTOP ******/
    
    @media(min-width:1024px){
        gap: 15px;
        & .full-star, .empty-star{
            font-size: 24px;
        } 
    }

    /****** TABLETTE ******//****** TABLETTE ******//****** TABLETTE ******/

    @media(min-width:768px ) and (max-width:1023px){
        gap: 10px;
        & .full-star, .empty-star{
            font-size: 18px;
        } 
    }
}